<form method="get" action="/answer" data-turbo="false">
  <label for="question" class="mb-3">Ask your coach anything:</label>
  <div class="form-group">
    <input type="text" id="question" name="question" class="form-control" >
    <input type="submit" value="Ask!" class="btn btn-primary mt-3" >
  </div>
</form>
